/* CORPO */
body {
 font-family: Nunito, sans-serif;
 color: #1c1c1c;
 display: flex;
 flex-direction: column;
}

h1, h2, h3 {
 font-family: Asap, sans-serif;
 color: #000000;
}

.botao {
  width: 100px;
  color: white;
  background-color: #191970;
  align-self: center;
  text-align: center;
  padding: 10px;
  border-radius: 18px;
  text-decoration: none;
  margin-bottom: 2em;
}

.topico {
  text-align: center;
}

/* NAVEGAÇÃO */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: #191970;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding: 0 40px;
  /* text-decoration: none; */
  list-style-type: none;
}

nav ul li > a{
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

/* TOPO */
#topo {
  display: flex
  flex-direction: column;
  text-align: center;
  padding: 20px;
} 

/* SOBRE */
#sobre {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: center;
  padding: 0 20px;
}

#sobre div {
  width: 33.33%
}

#sobre div p{
  padding: 0 20px;
}

/* SERVIÇOS */
#servicos {
  display: flex;
  flex-direction: row;  
  align-items: start;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 2em;
}

#servicos div {
  width: 33.33%
  display: flex;
  justify-content: space-around;

}

#servicos div p{
  padding: 0 20px;
}

/* GALERIA */
#galeria {
  display: flex;  
  flex-wrap: wrap;
  margin-bottom: 2em;
}

#galeria img {
  width: 30%;
  padding: 20px;
  border-radius: 10% !important;
}

/* FALE CONOSCO */
#contato {
  display: flex;  
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  text-align: center;
}

#contato img {
  width: 47%;
  padding: 20px;
  border-radius: 10% !important;
}

footer {
  displaY: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  align-item: center;
  background-color: #191970;
}

footer p {
  color: white;
}

footer .to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(1,1,1, .6);
  /* width: 50px; */
  padding: 16px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 12px;
}

/* MODAL */
/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos para a imagem no modal */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Estilos para o botão de fechar o modal */
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}